<%-include("./partials/header1")-%>
<link rel="stylesheet" href="css/govDashboard.css">
<!-- Navbar -->

<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="https://flowbite.com/" class="flex items-center">
        <img src="img/LOANbuddy.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">LOANbuddy</span>
    </a>
    <div class="flex md:order-2">
        <a href="/logout" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log Out</a>
        <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="/about" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  

<section class="relative h-screen flex flex-col items-center justify-center text-center text-white py-0 px-3">
  <!-- <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
      <video class="min-w-full min-h-full absolute object-cover" src="video/govDashboard.mp4" type="video/mp4" autoplay muted loop></video>
  </div> -->
  <!-- <h1 class="font-light text-6xl z-10 absolute top-40">Dashboard</h1> -->
  <div class="content z-10 absolute top-0">
    <h2 class="text_shadows">Dashboard</h2>
  </div>
  <section1 class="video-content space-y-2 antialiased bg-gray-100 text-gray-600 h-screen px-4 bg-[url('/img/govdashbackground.jpg')] bg-cover">
    <div class="flex flex-col justify-center h-full sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px]">
        <!-- Table -->
        <div class="overflow-y w-full max-w-7xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200 bg-clip-padding bg-opacity-10"  style="backdrop-filter: blur(30px)">
            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-white">Student List</h2>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto overflow-y-scroll h-96">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Name</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Email</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Loan Amount</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-center">Status</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-center">View</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                        <% userList.forEach((user) => { %>
                            <tr>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="<%= user.photo %>" width="40" height="40" alt="Alex Shatov"></div>
                                        <div class="font-medium text-white"><%= user.name %></div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left text-white"><%= user.username %></div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left font-medium text-green-300">₹ <%= user.loanAmount %></div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <% if (user.loanStatus === 0){ %>
                                        <div class="text-center text-white">Not Initiated</div>
                                    <% } else if (user.loanStatus === 1){ %>
                                        <div class="text-center text-white">Pending</div>
                                    <% } else if (user.loanStatus === 2){ %>
                                        <div class="text-center text-white">Approved</div>
                                    <% } else if (user.loanStatus === 3){ %>
                                        <div class="text-center text-white">Money Acquired</div>
                                    <% } else if (user.loanStatus === 4){ %>
                                        <div class="text-center text-white">Money Repayed</div>
                                    <% } %>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-lg text-center">
                                        <a href="/govdashboard/<%= user.username %>" class="relative px-2 py-1 overflow-hidden font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-full shadow-inner group">
                                            <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease rounded-full"></span>
                                            <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease rounded-full"></span>
                                            <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100 rounded-full"></span>
                                            <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease text-sm">View</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section1>
</section>
</html>