<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/studDash/css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="/studDash/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="/studDash/css/main.css?ver=1.1.0" rel="stylesheet">
    <link rel="stylesheet" href="/studDash/css/studDashboard.css">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"><%= state %> GOVERNMENT STUDENT LOAN</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="https://barmantanmoy2211-loan-prediction-bank-loan-prediction-612v9p.streamlit.app/">Prediction</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="/scholarship">Scholarship</a></li>
                <!-- <li class="nav-item"><a class="nav-link smooth-scroll" href="/scholarship">Predict</a></li> -->
                <li class="nav-item"><a class="nav-link smooth-scroll" href="/logout">Log Out</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/studDash/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <% if (user.photo){ %>
            <div class="cc-profile-image"><a href="#"><img src="<%= user.photo %>" alt="Image"/></a></div>
          <% } else { %>
            <div class="cc-profile-image"><a href="#"><img src="/studDash/images/anthony.jpg" alt="Image"/></a></div>
          <% } %>
          <div class="h2 title"><%= user.name %></div>
          <p class="category text-white"><%= user.username %></p>
          <% if (!user.loanStatus) { %>
            <a class="btn btn-primary smooth-scroll mr-2" href="<%= applyUrl %>" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Apply for Loan</a>
          <% } %>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="h2 title">LOAN PROGRESS</div>
    <% if (user.loanStatus === 0) { %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
        aria-valuemin="0" aria-valuemax="100" style="width:20%">
          Not Initiated
        </div>
      </div>
    <% } else if (user.loanStatus === 1) { %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
        aria-valuemin="0" aria-valuemax="100" style="width:40%">
          Pending
        </div>
      </div>
    <% } else if (user.loanStatus === 2) { %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100" style="width:60%">
          Approved
        </div>
      </div>
    <% } else if (user.loanStatus === 3) { %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
        aria-valuemin="0" aria-valuemax="100" style="width:80%">
          Money Acquired
        </div>
      </div>
    <% } else if (user.loanStatus === 4) { %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
        aria-valuemin="0" aria-valuemax="100" style="width:100%">
          Money Repayed
        </div>
      </div>
    <% } %>
      
  </div>
</div>

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('/studDash/images/staticmap.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Us</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/your@email.com" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact us </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">140, City Center, New York, U.S.A</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+1718-111-0011</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>anthony@company.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" href="#"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center"><%= user.name %></div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="/studDash/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="/studDash/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="/studDash/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="/studDash/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="/studDash/js/aos.js?ver=1.1.0"></script>
    <script src="/studDash/scripts/main.js?ver=1.1.0"></script>
  </body>
</html>